<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
    <img class="footer-logo" src="../../../assets/images/icono-blanco.svg" alt="Logo del portafolio">
    <p class="footer-texto text-center">Aprendo y creo todos los días.<br>Creemos un proyecto juntos.</p>
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">
      <a class="nav-link fs-4" aria-current="page" href="https://www.sololearn.com/profile/18784701" target="_blank" rel="noopener">
        <img src="../../../assets/images/Sololearn.svg" alt="Sololearn">
      </a>
  
      <a class="nav-link fs-4" href="https://github.com/J-ordiEs" target="_blank" rel="noopener">
        <img src="../../../assets/images/github.svg" alt="GitHub">
      </a>
  
      <a class="nav-link fs-4" href="https://www.linkedin.com/in/jorge-tm/" target="_blank" rel="noopener">
        <img src="../../../assets/images/linkedin.svg" alt="Linkedin">
      </a>
  
      <a class="nav-link fs-4" href="https://www.freecodecamp.org/j-ordiest" target="_blank" rel="noopener">
        <img src="../../../assets/images/freecodecamp.svg" alt="Freecodecamp">
      </a>
  
      <a class="nav-link fs-4" href="mailto:jorge.tm.ink@outlook.com" target="_blank" rel="noopener noreferrer">
        <span class="arroba">@</span>
      </a>
    </div>
    <div class="derechos-de-autor">Creado por Jorge Torres (2023) &#169;</div>
  </footer>