<section class="container-fluid hero align-items-stretch">
    <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
        <img class="hero-imagen-desarrollador rounded-circle" src="../../../assets/images/desarrollador-ejemplo.svg"
            alt="Imagen de perfil">
        <h1>Hola, soy Jorge Torres</h1>
        <h2>Desarrollador y asistente IT </h2>
    </div>
    <div class="hero-inferior">
        <img class="hero-inferior-imagen img-fluid" src="../../../assets/images/hero-inferior.svg"
            alt="Monitor, laptop y logos de HTML, CSS, JavaScript.">
    </div>
</section>